@font-face {
  font-family: 'Netflix Sans';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Netflix_Sans__Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('/fonts/Netflix_Sans__Bold.otf');
  font-weight: bold;
  font-style: normal;
}

.subtitle-container .cues-container .shaka-text-container > span {
    color: white !important;
    font-size: 48px !important;
    font-weight: bold !important;
    background: transparent !important;
    /* text-shadow: 2px 2px 0 #000000 !important; */
    text-shadow:#000 -1px 1px 1px,
                #000 1px 1px 1px,
                #000 1px -1px 1px,
                #000 -1px -1px 1px,
                #000 -1px 1px 1px,
                #000 1px 1px 1px,
                #000 1px -1px 1px,
                #000 -1px -1px 1px,
                #000 -1px 1px 1px,
                #000 1px 1px 1px,
                #000 1px -1px 1px,
                #000 -1px -1px 1px,
                #000 -1px 1px 1px,
                #000 1px 1px 1px,
                #000 1px -1px 1px,
                #000 -1px -1px 1px,
                #000 -1px 1px 1px,
                #000 1px 1px 1px,
                #000 1px -1px 1px,
                #000 -1px -1px 1px,
                #000 -1px 1px 1px,
                #000 1px 1px 1px,
                #000 1px -1px 1px,
                #000 -1px -1px 1px,
                #000 -1px 1px 1px,
                #000 1px 1px 1px,
                #000 1px -1px 1px,
                #000 -1px -1px 1px,
                #000 -1px 1px 1px,
                #000 1px 1px 1px,
                #000 1px -1px 1px,
                #000 -1px -1px 1px,
                #000 -1px 1px 1px,
                #000 1px 1px 1px,
                #000 1px -1px 1px,
                #000 -1px -1px 1px,
                #000 -1px 1px 1px,
                #000 1px 1px 1px,
                #000 1px -1px 1px,
                #000 -1px -1px 1px !important;
    font-family: 'Netflix Sans' !important;
    -webkit-font-smoothing: antialiased !important;
    white-space: pre !important;
}

.shaka-text-container > span {
  color: white !important;
  font-size: 48px !important;
  font-weight: bold !important;
  background: transparent !important;
  /* text-shadow: 2px 2px 0 #000000 !important; */
  text-shadow: #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px !important;
  font-family: 'Netflix Sans' !important;
  -webkit-font-smoothing: antialiased !important;
  white-space: pre !important;
}

.shaka-text-container > span > i {
  color: white !important;
  font-size: 48px !important;
  font-weight: bold !important;
  background: transparent !important;
  /* text-shadow: 2px 2px 0 #000000 !important; */
  text-shadow: #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px,
               #000 0px 0px 1px !important;
  font-family: 'Netflix Sans' !important;
  -webkit-font-smoothing: antialiased !important;
  white-space: pre !important;
}